
* {
    padding:0;
    margin:0;
    box-sizing: border-box;

}

ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    padding:7px;
    text-decoration: none;
    height:5rem;
    background-color: rgb(255, 98, 0);
    align-content:center;
    align-items:center;
    justify-content:end;
    
    
  }


li {
  
    padding:2rem;

}
a {
    
    color:aliceblue;
    text-decoration: none;
    padding:7px;
}

.rightItem {
    color:black;
    padding-right:10px;
}