
* {
    padding:0;
    margin:0;
    box-sizing: border-box;

}

.navLinks {
 width:100%;
 display:flex;
 flex-direction: row;
 justify-content:space-around;
 background-color: rgb(96, 78, 67);
 align-items: center;
 }


ul {
  
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    padding:7px;
    text-decoration: none;
    height:5rem;
    align-content:center;
    align-items:center;
    justify-content:end;
   
    
  }


li {
  
    padding:2rem;
    
}

a {
    
    color:aliceblue;
    text-decoration: none;
    padding:7px;
    
}

a:hover {
    background-color: rgb(123, 146, 123);
}


.rightItem {
    
    margin-right:50px;
}

.burger div {
    width:25px;
    height:8vh;
    background-color:rgb(237, 234, 234);
    margin:5px;
}

.burger {
    display:none;
}

@media screen and (max-width: 1200px) {

  
}

@media screen and (max-width: 768px) {

    ul{
        position:absolute;
     
     
      
    
        
       
    }
}
