
* {
    padding:0;
    margin:0;
    box-sizing: border-box;

}

nav ul{
 width:100%;
 display:flex;
 justify-content: space-around;
 align-items:center;
 min-height:8vh;
 background-color: rgb(231, 90, 2);

 }


.navLinks {
  
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: row;
    padding:7px;
    text-decoration: none;
    height:5rem;
    align-content:center;
    align-items:center;
    justify-content:end;
   
    
  }


li {
  
    padding:2rem;
    
}

a {
    
    color:aliceblue;
    text-decoration: none;
    padding:7px;
    
}

a:hover {
    background-color: rgb(123, 146, 123);
}




.burger div {
    width:20px;
    height:3px;
    background-color:rgb(149, 22, 22);
    margin:5px;
  
}

.burger {
    display:none;
  
}



@media screen and (max-width: 1200px) {

  
}

@media screen and (max-width: 768px) {

    .navLinks {
     
        position: absolute;
        right:0px;
        width:40%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-content:flex-end;
        background-color: rgb(231, 90, 2);
        font-size: 20px;
        padding:7px;
      
             
    }


    .navLinks li {
        opacity:0;
    }

    .burger {
        display:block;
        cursor:pointer;
     
    }

 
}
